.navbar{
    background-color:#6C757D;
}

.navbar a{
font-size: 16px;

}
.navbar a:hover{
    font-size: 16px;
    color:rgb(80, 80, 80);
    }

.image-box {
    background: linear-gradient(rgba(250, 250, 250, 0.7), rgba(245, 244, 244, 0.8)) , var(--image-url) center center;
    background-size: cover;

    text-align: center;
    color:rgb(85, 85, 85);
    position: relative;
    min-height: 700px;
}

.head-title h1{
    padding-top: 30%;
    font-size: 16px;
}

.title{
    padding: 5%;
    margin: 0% 8%;
}

.title p{
    font-size: 14px;
}

.navbar-wrapper {
    position: absolute;
    top: 0;
    right: 0;
  width: 100% !important;
    left: 0;
    z-index: 20;
}

.navbar-wrapper > .container-fluid {
    padding-right: 0;
    padding-left: 0;
  width: inherit;

}

.navbar-wrapper .navbar {
  width: 100% !important;
}

.italic{
    font-style: italic;
}

.bold{
    font-weight: bold;
}

.btn{
    width:200px;
}

.btn a{
    color:white;
    font-size: 16px;
}
.btn a:hover {
    color:rgb(58, 58, 58);
    text-decoration: none;
}

.row{
    padding:15% 10% 0% 10%;
    text-align: center;
}

.img-responsive{
    width:100%;
    height: auto;
}

    /* Never get smaller than this */
.row p {

    font-size: 14px;
  }

.row h4{
    font-size: 16px;
  }

  @media (min-width:600px) {
    .row p {
      font-size: 16px;
    }
    .row h4{
        font-size: 20px
      }
      .head-title h1{
        font-size: 20px;
        }
      
      .title p{
        font-size: 18px;
      }
      .container-fluid .btn a{
        font-size: 16px;
      }
    .container-fluid .btn a{
        font-size: 16px;
      }
    .head-title h1{
      padding-top: 20%;
    }
  }
  
  @media (min-width:800px) {
    .row p {
      font-size: 18px;
    }
    .row h4{
        font-size: 22px
      }
      .head-title h1{
        font-size: 22px;
        }
      
      .title p{
        font-size: 18px;
      }
      .container-fluid .btn a{
        font-size: 18px;
      }
      .head-title h1{
      padding-top: 20%;
    }
  }
  
  @media (min-width:1000px) {
    .row p {
      /* Never get larger than this */
      font-size: 20px;
    }
    .row h4{
        font-size: 24px
      }
      .head-title h1{
        font-size: 26px;
        }
      
      .title p{
        font-size: 18px;
      }
      .container-fluid .btn a{
        font-size: 20px;
      }
      .head-title h1{
      padding-top: 10%;
    }
  }
